@use './navbar';
@use './card';
@use './cart';

@import './variables';

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";


*{
	transition: all 0.3s ease-in-out;
}

.d-grid{
	@include media-breakpoint-up(xs){
		grid-template-columns: auto;
	}
	@include media-breakpoint-up(sm){
		grid-template-columns: auto auto;
	}
	@include media-breakpoint-up(md){
		grid-template-columns: auto auto auto;
	}
	@include media-breakpoint-up(lg){
		grid-template-columns: auto auto auto auto;
	}
}

.spinner{
	margin-top: 200px;
}

.cart{
	&-item{
		@include media-breakpoint-down(md){
			flex-direction: column;
	   }
	}
	&-info{
		@include media-breakpoint-down(lg){
			width: 400px;
	   }
		@include media-breakpoint-down(md){
			width: 100%;
			padding-left: 15px;
			justify-content: center;
			margin-left: -15px;
	   }
	}
}
