.cart {
	&-item {
		height: fit-content;
		&-img {
			width: 100px;
			height: 100px;
		}
	}
	&-delete {
		&:hover {
			cursor: pointer;
		}
	}
	&-info {
		width: 500px;
	}
	.pointer {
		cursor: pointer;
	}
}
.values {
	height: 35px;
}
.shipping {
	margin-bottom: 2px;
}
//#9fa6b2 error color
