

.card{
	&-body{
		height: 110px;
	}
	&-img-top{
		object-fit: cover;
		height: 13rem;
	}
	&-body{
		position: relative;
	}
	&-price{
		position: absolute;
		right: 0;
		bottom: 0px;
	}
	&-title{
		font-size: 20px;
	}
	button{
		position: absolute;
		bottom: 0;
	}
}