@import "./variables";

.navbar {
	&-brand {
		font-weight: 700;
		font-size: 60px;
		font-family: $font-bold;
	}
	.nav-item {
		.nav-link {
			font-size: 18px;
			font-weight: 400;
		}
		.nav-hover {
			border-bottom: 2px solid white;
			&:hover {
				border-bottom: 2px solid $primary;
			}
		}
	}
}

.nav-cart{
	top: 20px;
	right: 13px;
	height: 15px;
	width: 15px;
	justify-content: center;
	border-radius: 50%;
	font-size: 12px;
}
